# Assignment 3

Welcome to Assignment 3. This will be even more fun. Now we will calculate statistical measures on the test data you have created.

YOU ARE NOT ALLOWED TO USE ANY OTHER 3RD PARTY LIBRARIES LIKE PANDAS. PLEASE ONLY MODIFY CONTENT INSIDE THE FUNCTION SKELETONS
Please read why: https://www.coursera.org/learn/exploring-visualizing-iot-data/discussions/weeks/3/threads/skjCbNgeEeapeQ5W6suLkA
. Just make sure you hit the play button on each cell from top to down. There are seven functions you have to implement. Please also make sure than on each change on a function you hit the play button again on the corresponding cell to make it available to the rest of this notebook.
Please also make sure to only implement the function bodies and DON'T add any additional code outside functions since this might confuse the autograder.

So the function below is used to make it easy for you to create a data frame from a cloudant data frame using the so called "DataSource" which is some sort of a plugin which allows ApacheSpark to use different data sources.

All functions can be implemented using DataFrames, ApacheSparkSQL or RDDs. We are only interested in the result. You are given the reference to the data frame in the "df" parameter and in case you want to use SQL just use the "spark" parameter which is a reference to the global SparkSession object. Finally if you want to use RDDs just use "df.rdd" for obtaining a reference to the underlying RDD object. 

Let's start with the first function. Please calculate the minimal temperature for the test data set you have created. We've provided a little skeleton for you in case you want to use SQL. You can use this skeleton for all subsequent functions. Everything can be implemented using SQL only if you like.

In [426]:
def minTemperature(df,spark):
    return spark.sql("SELECT min (temperature) as mintemp from washing").first().mintemp

Please now do the same for the mean of the temperature

In [427]:
def meanTemperature(df,spark):
    return spark.sql("Select ROUND(AVG(temperature),4) as avgtemp from washing").first().avgtemp

Please now do the same for the maximum of the temperature

In [428]:
def maxTemperature(df,spark):
    return spark.sql("select max (temperature) as maxtemp from washing").first().maxtemp

Please now do the same for the standard deviation of the temperature

In [429]:
def sdTemperature(df,spark):
    from pyspark.sql.functions import stddev
    return spark.sql ("select round(stddev(temperature),4) as stdtemp from washing").first().stdtemp

Please now do the same for the skew of the temperature. Since the SQL statement for this is a bit more complicated we've provided a skeleton for you. You have to insert custom code at four position in order to make the function work. Alternatively you can also remove everything and implement if on your own. Note that we are making use of two previously defined functions, so please make sure they are correct. Also note that we are making use of python's string formatting capabilitis where the results of the two function calls to "meanTemperature" and "sdTemperature" are inserted at the "%s" symbols in the SQL string.

In [430]:
def skewTemperature(df,spark):    
    return spark.sql("""
SELECT 
    (
    round(
    (
      1/count(temperature)
    ) 
     *
     SUM (
        POWER(temperature-%s,3)/POWER(%s,3)
    )
    ,4)
    )

as skewtemp from washing
                    """ %(meanTemperature(df,spark),sdTemperature(df,spark))).first().skewtemp

Kurtosis is the 4th statistical moment, so if you are smart you can make use of the code for skew which is the 3rd statistical moment. Actually only two things are different.

In [431]:
def kurtosisTemperature(df,spark):    
    return spark.sql("""
SELECT 
    (round(
     SUM (
        POWER(temperature-%s,4)/POWER(%s,4)
    ) / 
    ( count(temperature)
    )
    ,4)
    )

as kurtemp from washing
                    """ %(meanTemperature(df,spark),sdTemperature(df,spark))).first().kurtemp

Just a hint. This can be solved easily using SQL as well, but as shown in the lecture also using RDDs.

In [432]:
#def correlationTemperatureHardness(df,spark):
 #   return spark.sql("select round(corr (temperature, hardness),4) as corrtemp from washing").first().corrtemp
    #return spark.sql("select COVAR_POP(temperature, hardness) / (STDDEV_POP(temperature) * STDDEV_POP(hardness) as corrtemp from washing).first()

In [433]:
#def meanhardness(df,spark):
 #   return spark.sql("Select ROUND(AVG(hardness),4) as avghard from washing").first().avghard

In [434]:
#def sdhardness(df,spark):
   # from pyspark.sql.functions import stddev
    #return spark.sql ("select round(stddev(hardness),4) as stdhard from washing").first().stdhard

In [449]:
def meanHardness(df,spark):
    return spark.sql("SELECT AVG(hardness) as avghard from washing").first().avghard
def sdHardness(df,spark):
    return spark.sql("SELECT STDDEV(hardness) as sdhard from washing").first().sdhard
def correlationTemperatureHardness(df,spark):
    return spark.sql("""
SELECT
    
    (
    round
    (
    SUM
    (
    (temperature-%s) * (hardness-%s)
    ) / 
    (
    COUNT(temperature)
    ) /
    (
        %s * %s
    )
    ,4
    )
    )
AS cortemphrd FROM washing
                    """ %(meanTemperature(df,spark),meanHardness(df,spark),sdTemperature(df,spark),sdHardness(df,spark))).first().cortemphrd

### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED
#axx
### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED

Now it is time to connect to the cloudant database. Please have a look at the Video "Overview of end-to-end scenario" of Week 2 starting from 6:40 in order to learn how to obtain the credentials for the database. Please paste this credentials as strings into the below code

### TODO Please provide your Cloudant credentials here

In [436]:
### TODO Please provide your Cloudant credentials here by creating a connection to Cloudant and insert the code
### Please have a look at the latest video "Connect to Cloudant/CouchDB from ApacheSpark in Watson Studio " on https://www.youtube.com/c/RomeoKienzler "
# @hidden_cell
credentials_1 = {
  'password':"""5f1f4187bfc3efc263f1693d9612d74e1577ad82ab425434236d16f73eb40e6f""",
  'custom_url':'https://f8af4df4-f849-4830-acb5-525c93360787-bluemix:5f1f4187bfc3efc263f1693d9612d74e1577ad82ab425434236d16f73eb40e6f@f8af4df4-f849-4830-acb5-525c93360787-bluemix.cloudantnosqldb.appdomain.cloud',
  'username':'f8af4df4-f849-4830-acb5-525c93360787-bluemix',
  'url':'https://undefined'
}

database = "wash" #as long as you didn't change this in the NodeRED flow the database name stays the same

In [437]:
#Please don't modify this function
def readDataFrameFromCloudant(database):
    cloudantdata=spark.read.load(database, "com.cloudant.spark")

    cloudantdata.createOrReplaceTempView("washing")
    spark.sql("SELECT * from washing").show()
    return cloudantdata

In [438]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_1['custom_url'].split(':')[2].split('@')[1])\
    .config("cloudant.username", credentials_1['username'])\
    .config("cloudant.password",credentials_1['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

In [439]:
df=readDataFrameFromCloudant(database)

+--------------------+--------------------+-----+--------+----------+---------+--------+----------+------+---------+--------+-------+-----+-----------+-----+-------------+-------+
|                 _id|                _rev|count|deviceId|deviceType|eventType|flowrate|fluidlevel|format|frequency|hardness|payload|speed|temperature|topic|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+----------+------+---------+--------+-------+-----+-----------+-----+-------------+-------+
|0b56492212099bea9...|1-f0ef97acd39ce6d...|    3|    null|      null|     null|      11|acceptable|  null|     null|      74|   null| null|         87| null|1547189285276|   null|
|0b56492212099bea9...|1-f36c9c716455537...|   14|    null|      null|     null|      11|acceptable|  null|     null|      79|   null| null|        100| null|1547189296305|   null|
|0b56492212099bea9...|1-de68632de1b0b2d...|   25|    null|      null|     null|      11|acceptable|  null|     null|      76|   null| null|         91| null|1547189307330|   null|
|0b56492212099bea9...|1-b0228f2936adad6...|   33|    null|      null|     null|      11|acceptable|  null|     null|      77|   null| null|         84| null|1547189315353|   null|
|0b56492212099bea9...|1-4ad16240c31ffcc...|   14|    null|      null|     null|    null|      null|  null|       79|    null|   null| null|       null| null|1547189324422|    225|
|0b56492212099bea9...|1-b57a2e283787d60...|   50|    null|      null|     null|      11|acceptable|  null|     null|      80|   null| null|         87| null|1547189332393|   null|
|0b56492212099bea9...|1-348e087181ca260...|   57|    null|      null|     null|      11|acceptable|  null|     null|      73|   null| null|         93| null|1547189339406|   null|
|0b56492212099bea9...|1-b0d4305bf7bd3f8...|   23|    null|      null|     null|    null|      null|  null|       66|    null|   null| null|       null| null|1547189351468|    227|
|0b56492212099bea9...|1-95e23ac2e6b5c15...|   72|    null|      null|     null|      11|acceptable|  null|     null|      77|   null| null|         99| null|1547189354437|   null|
|0b56492212099bea9...|1-a07a2ee87f23d10...|   26|    null|      null|     null|    null|      null|  null|       70|    null|   null| null|       null| null|1547189360471|    235|
|0b56492212099bea9...|1-8f9896c19cfd1f5...|   83|    null|      null|     null|      11|acceptable|  null|     null|      77|   null| null|         89| null|1547189365460|   null|
|0b56492212099bea9...|1-24b1fc74d105ea3...|   30|    null|      null|     null|    null|      null|  null|       72|    null|   null| null|       null| null|1547189372485|    221|
|0b56492212099bea9...|1-6243d2ac496147b...|   20|    null|      null|     null|    null|      null|  null|     null|    null|   null| 1075|       null| null|1547189382424|   null|
|0b56492212099bea9...|1-21a78f1a795ddb3...|  105|    null|      null|     null|      11|acceptable|  null|     null|      74|   null| null|         95| null|1547189387497|   null|
|0b56492212099bea9...|1-67c39757a18eed4...|   37|    null|      null|     null|    null|      null|  null|       60|    null|   null| null|       null| null|1547189393546|    239|
|0b56492212099bea9...|1-d4eb8fb9ecd919a...|  116|    null|      null|     null|      11|acceptable|  null|     null|      70|   null| null|         98| null|1547189398517|   null|
|0b56492212099bea9...|1-9b8e6cabb001db4...|  127|    null|      null|     null|      11|acceptable|  null|     null|     130|   null| null|         85| null|1547189409537|   null|
|0b56492212099bea9...|1-39b3fcda2f15f17...|  131|    null|      null|     null|      11|acceptable|  null|     null|     150|   null| null|         93| null|1547189413542|   null|
|0b56492212099bea9...|1-5d9f3d1f59560ca...|   45|    null|      null|     null|    null|      null|  null|       71|    null|   null| null|       null| null|1547189417560|    239|
|0b56492212099bea9...|1-f3121376a8beeb1...|   48|    null|      null|     null|    null|      null|  null|       70|    null|   null| null|       null| null|1547189426569|    237|
+--------------------+--------------------+-----+--------+----------+---------+--------+----------+------+---------+--------+-------+-----+-----------+-----+-------------+-------+
only showing top 20 rows

In [440]:
minTemperature(df,spark)

80

In [441]:
meanTemperature(df,spark)

90.0089

In [442]:
maxTemperature(df,spark)

100

In [443]:
sdTemperature(df,spark)

6.1037

In [444]:
skewTemperature(df,spark)

0.0064

In [445]:
kurtosisTemperature(df,spark)

1.7831

In [446]:
meanhardness(df,spark)

81.5163

In [447]:
sdhardness(df,spark)

19.4834

In [450]:
correlationTemperatureHardness(df,spark)

Decimal('-0.0234')

Congratulations, you are done, please download this notebook as python file using the export function and submit is to the gader using the filename "assignment3.1.py"